
<div class="detail" ng-controller="detailCtrl">	

	<div id="poster">
		<img src="{{details.poster}}" />		
        <form class="form-group" name="myFormAddPanierBtn">	
			<b>Support :<select class="form-control" ng-model="txtDtlSupport" name="txtDtlSupport" required> <option ng-click="supportPrice(1, details.numericPrice)">Copie Numerique</option><option ng-click="supportPrice(2, details.dvdPrice)">DVD</option><option ng-click="supportPrice(3, details.blurayPrice)">BluRay</option> </select>
			<b>Prix Unitaire (€):</b> <input type="text" class="form-control"  value={{txtDtlPu}}  disabled>
			<div class="formAjout">	
				<button type="submit" class="btn btn-primary" ng-disabled="myFormAddPanierBtn.txtDtlSupport.$invalid" data-toggle="modal" data-target="#dialogConfirmAddPanier" ng-click="addInfo=!addInfo; addPanier(details,txtDtlSupport)"><span class="glyphicon glyphicon-shopping-cart"> </span> <b>Ajouter au panier</b>
				</button>				
				<div id="addInfoId" ng-show="addInfo" class="alert alert-danger">
					<strong>Video ajoutée au panier </strong>
				</div>       
            </div>    
		</form>
	</div>
	
	<div id="info"> 
		<h2>{{details.title}}</h2>
		<div id="descriptif">
			<p><b>Annee production :</b> {{details.year}}  ({{details.runtime}} mn)</p>
			<p><b>De :</b> {{details.director}}</p>
			<p><b>Avec :</b> {{details.actors}}</p>
			<p><b>Genre :</b> {{details.genre}}</p>
		</div>
			<h4><u> SYNOPSIS </u></h4>
		<div id="synopsis">
			{{details.overview}}
		</div>
				
        <a href="" data-toggle="modal" data-target="#dialogVideo" ng-show="bd"><strong class="alert alert-info"> Visionner la Bande Annonce 	</strong></a>
        <p ng-show="!bd">Bande annonce indisponible.</p>
	</div>
	
	
		
		<!-- Modal VIDEO -->
	  <div class="modal fade" id="dialogVideo" role="dialog">
		<div class="modal-dialog">
				<div class="video">
                    <object width="520" height="400"
data="{{details.trailer}}">
</object>
                </div>
		  
		</div>
	  </div>
	 <!-- End Modal VIDEO --> 	
</div>  <!--{{details.title}},{{details.year}},'copie numerique','1','7,00'-->


