
body{
	font-family: 'trebuchet MS', Arial, sans-sherif;
	color: #181818;
	background-color:#B0E0E6;
}

#main{
	width:100%; /*900px*/
	text-align: center;
/*	margin: auto;*/
}

/*######################################################### HEADER et BANNER	*/
header{	
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-item: flex-end;
	/*text-align:center;*/
	/*position:fixed;*/
}
.logo img{

	text-shadow: black 0px 0px;	
	width:100%;        
        box-shadow:1 1 30px 10px grey;
	background-color:black;		/*#706b64*/
	box-shadow: 0px 2px 5px #1cla19;
	border-radius: 5px;
	border:1px;
}

.logo a{
	text-decoration:none;
}


/*Barre de navigation*/
.affix {
	top: 0;
	width: 100%;
}	

.affix + .container-fluid {
  padding-top: 70px;
}

#userIcone{
	background-color: rgba(0, 0, 255, 0);
	color:#B3B3B3;
	margin-top:8%;
}


.navbar{
	padding:0px;
}

.navbar-brand{
	margin:auto;
	padding-top: 14px;
}
.navbar-right{
	margin-right: 0px;
	display: inline-flex;
}

#userName{
	color:#B3B3B3;
	margin-top: 15px;
	font-size: 17px;
	text-transform: lowercase;
}

.navbar-right a{
	text-decoration: none;
	color:#B3B3B3;
	margin: auto;
}

.ConnexInscr {
	margin:auto;
	color:grey;
}

.PanierVide{
	text-align: center;
	margin-top:10%;
	margin-bottom: 10%;

}
.PanierVide h3{

}


/*Recherche : */
.searchIndex{
	display: flex;
	margin-top: 8px;
	text-align: center;
	/*margin-right: 0px;*/
	/*display: inline-block;*/
	margin-left: 0px;
	width: 100%;
}

.searchIndex a{
	margin-left: 1%;
	text-align: center;
}

.txtSearchIndex{
	/*width: 80%;*/
	width: 550px;
}

.txtSearch2{
	width: 50%;
	color: black;
}



.rechPlus{
	/*text-align: center;*/
	color: grey;
	border-style: none none none double;


	width: 150%;

	/*text-align: left;*/
	/*margin-bottom: 10%;*/
	margin-left: 0px;
	padding-left: 5%;
}

.rechPlus h1{
	text-align: left;
	font-size: 200%;

}


.rechPlus h3{
	text-align: left;
	font-size: 180%;
	font-family:"palatino linotype", palatino, serif;
}



.rechPlus td{

	text-align: left;
	width: 27%;
}

.rechPlus table{
	table-layout:fixed;
	border-spacing: 20%;
	white-space:nowrap;

	/*width: 25%;*/
	margin:auto;
	margin-bottom: 2%;
}

.glyphicon-plus-sign{
	color: white;
}

.rechPlus p{
	text-align: center;
}

.searchIndex a{
	text-decoration:none;
}
}

.glyphicon-minus-sign{	
	color: white;
}

.centre{
	/*text-align: center;*/
}


.search table{
	border-spacing:400px 200px;
}


/* Parametre */
.paramLeft{
	width:100%;
}
.paramRight{
	width:100%;
        margin-top:50px;
}

/*Login*/
.btn-block {
	background-color: #117791;
	box-shadow: 3px 3px 4px 0px #A4A4A4;
-moz-box-shadow: 3px 3px 4px 0px #A4A4A4;
-webkit-box-shadow: 3px 3px 4px 0px #A4A4A4;
}


/*.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }


.modalDialog {
	/*position: fixed;**
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog>div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
*/

/**

#btnLeft {
    width:80%;    
}
#btnLeft ul, #btnRight ul{
     display:flex;
     flex-wrap: nowrap;
     list-style-type:none;
}
#btnLeft ul>li{
    margin-left:10px;
}

#btnRight {
    /*width:40%;***
    right:0px;
    text-align:right;
}
#btnRight ul>li{
    margin-right:10px;    
}
*/

/*######################################################### MIDDLE	*/
#middle{
	display:flex;
	/*margin-top:20px;*/
	margin-bottom:40px;
	
	margin-left:20%;
    /*width:99%;*/
}

#middleRight{
    width:80%;
    /*margin-left:17%;*/
    margin:auto;
}

#view{
    margin-top:2%;
    text-align:justify;
}

.search{
	text-align:center;
}
.search p{
	text-align:right;
	margin-top:1px;
	margin-right:10px;
}
.txtSearch{
	width:75%;
}


.modal-header {
	/*color: #117791;*/
	/*text-align: left;*/
	

	padding:35px 50px;
	background-color: #98C6D2;
	height: 90px;

	-webkit-border-top-left-radius: 25px;
-webkit-border-top-right-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-topright: 25px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
}

.modal-header h4{
	text-align: center;
	font-size: 220%;
	font-family:"palatino linotype", palatino, serif;
	font-variant: small-caps;
	font-weight: 600;

}

/*.modal-dialog{
	vertical-align: middle;
}*/

.modal{
	text-align: center;
	padding: 0px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin:auto;
  /*padding: 0px;*/
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-content {
	box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15);

	border: 2px solid;
    -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
}

/*######################################################### MENU	*/
.middleLeft{
	float: left;
	display: flex;
	/*position:fixed;*/
	/*top: 33%;*/
	/*width: 300px;*/
	padding: 1%;
	text-decoration:none;
	height:66%;
	text-align: left;
	background-color:#117791;		/*#706b64*/
	box-shadow: 0px 2px 5px #1cla19;
	border-radius: 5px;
	
    width:19%;
    margin-left: 0px;

}

.middleLeft a{
	color: black;
}


.navbar-collapse.collapse {
    display: block 
    width: auto;
    padding-bottom: 0;
    overflow: visible;
 }
 .navbar-collapse.in {
    overflow-x: visible;
  }

