			
    <div ng-controller="homeCtrl">									
        
		<h1>Players Informations</h1>
		
		<form role="form" class="playersName" ng-show="need_players_name">
			<div class="form-group">
				<label>Player 1 name:</label>
				<input type="text" class="form-control" ng-model="players.name1">
			</div>
			<div class="form-group">
				<label>Player 2 name:</label>
				<input type="text" class="form-control" ng-model="players.name2">
			</div>
		 
			<button type="submit" class="btn btn-default" ng-click="getPlayersName(players.name1,players.name2); need_players_name = false;">Play</button>
		</form> 
		
		<div ng-show="!need_players_name">
			<p>player 1 name  = {{players.name1}}</p>
			<p>player 2 name  = {{players.name2}}</p>		
		</div>
  
    </div>	

	