.detail {
	display: flex;
}

#descriptif p{
	font-family:"palatino linotype", palatino, serif;
	font-weight: normal;
}

h4{
	font-family:"palatino linotype", palatino, serif;
}

#synopsis {
	font-family:"palatino linotype", palatino, serif;
	font-weight: normal;
}

#info h2{
	font-family:"palatino linotype", palatino, serif;
}


#poster{
	width:270px;
	height:auto;
	margin-top:40px;
}

#synopsis {
	width:100%;
	text-align:justify;
	margin-bottom:5%;
}

#info h2{
	text-align:center;
}

#descriptif p{
	font-size:14px;
}

#info {
	text-align:justify;
	margin-left:10px;
}

#addInfoId{
	position:fixed;
	top:10%;
	right:3px;
}

.detail img{
	border:1px;
	width:260px;
	max-width:100%;
	height:auto;
	box-shadow:1 1 30px 10px grey;
	//background-color:black;		/*#706b64*/
	box-shadow: 0px 2px 5px #1cla19;
	border-radius: 5px;
	margin-bottom:20px;
}

.form-control{
	margin-bottom:10px;
}
.formAjout{
	text-align:center;
}

